  <!-- Scripts -->
  <script src="/js/particles.js"></script>
  <script src="/js/cursor.js"></script>
  <script src="/js/theme.js"></script>
  <script src="/js/animations.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
